.button {
  transition: all 0.3s;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background-color: #0cf;
  border-radius: 12px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 10%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 12px;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 10%;
}
